.carousel__image {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.cate_product {
    display: flex;
    justify-content: space-around;

}
.cate_item{
    min-width: 150px;
}
.cate_item:hover {
    background: orange !important;
}

.home__product-title {
    line-height: 60px;
    text-align: center;
    border-bottom: 1px solid grey;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.home__horizontal-qc {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.horizontal_qc_img {
    width: 100%;
    height: 200px;
}
.home__lasted-news{
    background: grey;
    padding: 5px;
    border-radius: 10px;
}
.category__products{
    display: flex;
    /* justify-content: space-around; */
    gap: 5px;
}
.scroll-container {
    text-align: center;
    overflow-y: hidden;
    padding: 10px;
    height: 300px; /* Set a fixed height */
    position: relative;
}

/* Animate infinite scrolling */
.news-list {
    list-style: none;
    text-align: left;
    animation: scroll 8s linear infinite;
}
.news-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.scroll-container:hover .news-list {
    animation-play-state: paused;
}
@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}
.news_image{
    height: 200px;
    object-fit: contain;
}
.news_title{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 1; 
    -webkit-box-orient: vertical;
}
.news_description{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}