.news__image{
    width: 500px;
    height: 400px;
    object-fit: contain;
    display: block;
    margin: auto;
}
.news_title{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 1; 
    -webkit-box-orient: vertical;
}
.news_decription{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}
.news__update_at{
   color: gray;
}