<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="display: block;margin: auto;border: 5px solid orange; width: 400px;padding: 10px;background: gray;">
        <h4>Kính chào quý khách hàng.Cảm ơn quý khách đã liên hệ Machine Company</h4>
        <img  style="width: 100%;"
            src="https://vieclam123.vn/ckfinder/userfiles/images/images/customer-service-logistics-la-gi-1.jpg"/>
        <p>Chúng tôi sẽ sơm liên hệ lại quý khách</p>
        <p>Nội dung yêu cầu của bạn: </p>
    </div>
</body>
</html>
